.card {
	width: 100%;
	display: inline-block;
	text-align: center;
	background-color: #fff;
	border-radius: 8px;
	overflow: hidden;
	cursor: pointer;
	transition: transform 0.25s;
	max-width: 340px;
	&:hover {
		transform: scale(1.02);
	}
	&__title {
		color: #051231;
		font-weight: 700;
		margin: 16px 0 20px;
		font-size: 18px;
	}
}
